<!DOCTYPE html>
<html>
<head>
  <title>Post Detail</title>
</head>
<body>

<h2>Post Details</h2>

<p>ID: <%= post.id %></p>
<h3>@<%= post.username %></h3>
<p><%= post.content %></p>

<a href="/posts">Back</a>

</body>
</html>
