<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>Home page</h1>
    <h3><%= 1 + 2 %></h3>
    <h3><%= "Dhruv".toUpperCase() %></h3>
    <h3><%= ["apple", "banana"][0] %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit vitae rerum labore necessitatibus incidunt laboriosam inventore quaerat? Ullam debitis ab, aperiam quidem id obcaecati, corrupti dignissimos eius suscipit magnam ut!</p>
    <input placeholder="enter your name">
    <button>click here!</button>
</body>
</html>